.input {
  border: none;
  background: rgb(58, 52, 52);
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 15px;
  margin-bottom: 5px;
  width: 100%;
  font-size: 14px;

  transition: border 3s ease, background 3s ease;
}

::placeholder {
  opacity: 1;
  color: #fff;
}

.myCustomClass {
  /* background-color: green; */
}

.invalid {
  border: 1px solid #ff0000;
  background: rgb(68, 6, 6);
  color: #fff;
}

.myCustomClass::placeholder {
  color: rgb(237, 121, 121);
}

.form-row_data_input {
  /* width: 10%; */
  color: rgb(237, 121, 121);
}
